<!DOCTYPE html>
<html>
  <head>
    <title>Product</title>
  </head>
  <body>
    <form action="/add" method="post"> <input type="submit" value="Add"> </form> <br>
    <form action="/view" method="get"> <input type="submit" value="View"> </form> <br>
    <form action="/edit/P001" method="get"> <input type="submit" value="Edit"> </form> <br>
    <form action="/delete/P001" method="get"> <input type="submit" value="Delete"> </form> <br>
  </body>
</html>